@font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: 'OpenSans Regular'; 
}

body {
    background-color: rgb(127, 238, 241);
    font-family: 'OpenSans Regular', Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px 45px;
    text-align: center;
    color: green;
    margin: 10px 12px;
}

.header a {
    border: 1px solid green;
    padding: 5px 10px;
}

.header a:hover {
    color:black;
    border: 5px solid black;
    background-color:yellow;
}

hr {
    width: 100%;
}

.main {
    margin: 0 auto;
    width: 1000px;
}

main {
    display: block;
}

.title {
    text-align: center;
    color: rgb(7, 160, 33);
    font-size: 40px;

}

.img {
    background-color: rgb(108, 211, 236);
    padding: 10px 20px;
    text-align: center;
}

.subtitle {
    border-left: 7px solid rgb(7, 160, 33);
    padding-left: 10px;
    color: rgb(7, 160, 33);
    margin-top: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.85em;
    margin-block-end: 0.85em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(7, 160, 33)
}










